@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@if (SignInManager.IsSignedIn(User))
{
<span>

    <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "HomeClient", new { area = "" })">
        <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
    </form>
</span>
    
 
}
else
{
    <li class="top-hover">
        <a href="#">My Account <i class="ion-chevron-down"></i></a>
        <ul>
            <li> <a asp-area="Identity" asp-page="/Account/Login">Login</a></li>
            <li><a asp-area="Identity" asp-page="/Account/Register">Register</a></li>

        </ul>
    </li>
}
