
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="breadcrumb-area gray-bg">
    <div class="container">
        <div class="breadcrumb-content">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li class="active">About us </li>
            </ul>
        </div>
    </div>
</div>
<div class="about-us-area pt-80 pb-80">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-7 d-flex align-items-center">
                <div class="overview-content-2">
                    <h2>Welcome To <span>Florist</span> Store !</h2>
                    <p class="peragraph-blog">Java Florist is a premium fresh flower brand with a full range of related services. At Java Florist, we not only bring the most beautiful and quality flower products, but also want to share and bring precious moments of life to our customers and loved ones.</p>
                    <p>
                        Our mission is to help you express your feelings and make every important occasion even more special.

                        Our experienced team makes sure to bring you the freshest bouquets of flowers wrapped in high quality ingredients. We offer a wide variety of flowers, sizes and designs suitable for any occasion you need.

                        Through our online platform, we aim to provide you with an experience that is convenient, easy and full of fun.
                    </p>
                    <div class="overview-btn mt-45">
                        <a class="btn-style-2" href="shop.html">Shop now!</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-5">
                <div class="overview-img text-center">
                    <a href="#">
                        <img src="~/ClientFile/assets/img/banner/about-us.jpg" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="project-count-area gray-bg pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-count text-center mb-30">
                    <div class="count-icon">
                        <span class="ion-ios-briefcase-outline"></span>
                    </div>
                    <div class="count-title">
                        <h2 class="count">360</h2>
                        <span>project done</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-count text-center mb-30">
                    <div class="count-icon">
                        <span class="ion-ios-wineglass-outline"></span>
                    </div>
                    <div class="count-title">
                        <h2 class="count">690</h2>
                        <span>cups of coffee</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-count text-center mb-30">
                    <div class="count-icon">
                        <span class="ion-ios-lightbulb-outline"></span>
                    </div>
                    <div class="count-title">
                        <h2 class="count">420</h2>
                        <span>branding</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-count text-center mb-30 mrgn-none">
                    <div class="count-icon">
                        <span class="ion-happy-outline"></span>
                    </div>
                    <div class="count-title">
                        <h2 class="count">100</h2>
                        <span>happy clients</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="team-area pt-75 pb-50">
    <div class="container">
        <div class="text-center mb-40">
            <h4 class="section-title-about">Team Members</h4>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="team-wrapper mb-30">
                    <div class="team-img">
                        <a href="#">
                            <img src="~/ClientFile/assets/img/team/team-1.jpg" alt="">
                        </a>
                        <div class="team-action">
                            <a class="action-plus facebook" href="#">
                                <i class="ion-social-facebook"></i>
                            </a>
                            <a class="action-heart twitter" title="Wishlist" href="#">
                                <i class="ion-social-twitter"></i>
                            </a>
                            <a class="action-cart instagram" href="#">
                                <i class="ion-social-instagram"></i>
                            </a>
                        </div>
                    </div>
                    <div class="team-content text-center">
                        <h4>Mr.Mike Banding</h4>
                        <span>Manager </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="team-wrapper mb-30">
                    <div class="product-img">
                        <a href="product-details.html">
                            <img src="~/ClientFile/assets/img/team/team-3.jpg" alt="">
                        </a>
                        <div class="team-action">
                            <a class="action-plus facebook" href="#">
                                <i class="ion-social-facebook"></i>
                            </a>
                            <a class="action-heart twitter" title="Wishlist" href="#">
                                <i class="ion-social-twitter"></i>
                            </a>
                            <a class="action-cart instagram" href="#">
                                <i class="ion-social-instagram"></i>
                            </a>
                        </div>
                    </div>
                    <div class="team-content text-center">
                        <h4>Mr.Peter Pan</h4>
                        <span>Developer </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="team-wrapper mb-30">
                    <div class="team-img">
                        <a href="#">
                            <img src="~/ClientFile/assets/img/team/team-2.jpg" alt="">
                        </a>
                        <div class="team-action">
                            <a class="action-plus facebook" href="#">
                                <i class="ion-social-facebook"></i>
                            </a>
                            <a class="action-heart twitter" title="Wishlist" href="#">
                                <i class="ion-social-twitter"></i>
                            </a>
                            <a class="action-cart instagram" href="#">
                                <i class="ion-social-instagram"></i>
                            </a>
                        </div>
                    </div>
                    <div class="team-content text-center">
                        <h4>Ms.Sophia</h4>
                        <span>Designer </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="team-wrapper mb-30">
                    <div class="product-img">
                        <a href="product-details.html">
                            <img src="~/ClientFile/assets/img/team/team-4.jpg" alt="">
                        </a>
                        <div class="team-action">
                            <a class="action-plus facebook" href="#">
                                <i class="ion-social-facebook"></i>
                            </a>
                            <a class="action-heart twitter" title="Wishlist" href="#">
                                <i class="ion-social-twitter"></i>
                            </a>
                            <a class="action-cart instagram" href="#">
                                <i class="ion-social-instagram"></i>
                            </a>
                        </div>
                    </div>
                    <div class="team-content text-center">
                        <h4>Mr.John Lee</h4>
                        <span>Chairmen </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="testimonials-area bg-img pt-120 pb-115" style="background-image:url('@Url.Content("~/ClientFile/assets/img/bg/bg-1.jpg")');">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-12 ml-auto col-12">
                <div class="testimonial-active owl-carousel">
                    <div class="single-testimonial text-center">
                        <div class="testimonial-img">
                            <img alt="" src="~/ClientFile/assets/img/icon-img/testi.png">
                        </div>
                        <p>When a beautiful design is combined with powerful technology,<br> it truly is an artwork. I love how my website operates and looks with this theme. <br>Thank you for the awesome product. </p>
                        <h4>Samia Robiul</h4>
                    </div>
                    <div class="single-testimonial text-center">
                        <div class="testimonial-img">
                            <img alt="" src="~/ClientFile/assets/img/icon-img/testi.png">
                        </div>
                        <p>“ Lorem ipsum dolor sit, con adipisicing elit, sed do eiusmod tempor <br>incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud <br>exercitati ullamco laboris  ” </p>
                        <h4> Tayeb Rayed</h4>
                    </div>
                    <div class="single-testimonial text-center">
                        <div class="testimonial-img">
                            <img alt="" src="~/ClientFile/assets/img/icon-img/testi.png">
                        </div>
                        <p>When a beautiful design is combined with powerful ,<br> technology it truly is an artwork. I love how my website operates and looks with this  <br>theme. Thank you for the awesome product. </p>
                        <h4>Hamim Ahamed</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="brand-logo-area ptb-75">
    <div class="container">
        <div class="brand-logo-active owl-carousel">
            <div class="single-brand-logo">
                <img alt="" src="~/ClientFile/assets/img/brand-logo/logo-1.png">
            </div>
            <div class="single-brand-logo">
                <img alt="" src="~/ClientFile/assets/img/brand-logo/logo-2.png">
            </div>
            <div class="single-brand-logo">
                <img alt="" src="~/ClientFile/assets/img/brand-logo/logo-3.png">
            </div>
            <div class="single-brand-logo">
                <img alt="" src="~/ClientFile/assets/img/brand-logo/logo-4.png">
            </div>
            <div class="single-brand-logo">
                <img alt="" src="~/ClientFile/assets/img/brand-logo/logo-5.png">
            </div>
            <div class="single-brand-logo">
                <img alt="" src="~/ClientFile/assets/img/brand-logo/logo-2.png">
            </div>
        </div>
    </div>
</div>

