@model JavaFloral.Models.Category

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-sm-12">
        <section class="card">
            <header class="card-header">
                <div class="row">
                    <div class="col-11"> Edit Categories: </div>
                    <div class="col-1">
                        <a asp-action="Index"><button class="btn btn-danger"><i class="fa fa-arrow-left"></i></button></a>
                    </div>
                </div>



            </header>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <form asp-action="Edit" style="margin: 40px auto;width: 80%;">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="Categoryid" />
                            <div class="form-group">
                                <label asp-for="Name" class="control-label"></label>
                                <input asp-for="Name" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Name" class="control-label">Status</label>
                                <div class="col-sm-10 row">
                                    <div class="form-check mr-4">
                                        <input asp-for="Status" class="form-check-input" type="radio" name="Status" value="1">
                                        <label class="form-check-label">
                                            Active
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input asp-for="Status" class="form-check-input" type="radio" name="Status" value="0" />
                                        <label class="form-check-label">
                                            Lock
                                        </label>
                                    </div>
                                    <span asp-validation-for="Status" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="Created_at" class="control-label"></label>
                                <input asp-for="Created_at" class="form-control" />
                                <span asp-validation-for="Created_at" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Updated_at" class="control-label"></label>
                                <input asp-for="Updated_at" class="form-control" />
                                <span asp-validation-for="Updated_at" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Save" class="btn btn-danger" />
                            </div>
                        </form>
                    </div>
                </div>

             



            </div>


        </section>

    </div>

</div>





@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
